<!DOCTYPE html>
<html lang="<%= t('shortSiteLang')%>">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 브라우저 감지 -->
        <script async src="/js/IEDetect.js"></script>
        <script async src="/js/theme.js"></script>
        <script src="/js/qrcode.min.js"></script>
        <script src="/js/ifvisible.min.js"></script>
        <script src="/js/notification.js"></script>
        <!-- Meta Tag -->
        <meta http-equiv="Title" content="Triangle Drop" />
        <meta property="og:title" content="Triangle Drop" />
        <meta property="og:locale" content="<%= t('SiteLang')%>" />
        <meta name="description" content="<%= t('SiteDescriptions')%>" />
        <meta property="og:description" content="<%= t('SiteDescriptions')%>" />

        <!-- 표준 url이였던것, Bing이 en과 ko가 같은 페이지로 오해함. -->
        <!-- <link
      rel="canonical"
      href="https://triangledrop.obtuse.kr/"
    /> -->
        <!-- 현지화 -->
        <link rel="alternate" href="https://triangledrop.obtuse.kr/" hreflang="x-default" />
        <link rel="alternate" hreflang="ko" href="https://triangledrop.obtuse.kr/ko" />
        <link rel="alternate" hreflang="en" href="https://triangledrop.obtuse.kr/en" />

        <meta property="og:url" content="https://triangledrop.obtuse.kr/" />
        <meta property="og:site_name" content="<%= t('SiteTitle')%>" />
        <meta name="twitter:card" content="summary" />
        <meta property="twitter:title" content="<%= t('SiteTitle')%>" />
        <meta property="og:type" content="website" />
        <meta http-equiv="Publisher" content="<%= t('SiteTitle')%>" />

        <meta property="og:image" content="https://triangledrop.obtuse.kr/img/favicon/favicon.png" />
        <meta name="twitter:card" content="https://triangledrop.obtuse.kr/img/favicon/favicon.png" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img//faviconapple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/mediaQuery.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <!-- <link rel="stylesheet" href="//unpkg.com/@picocss/pico@latest/css/pico.min.css" /> -->
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->

        <title><%= t('SiteTitle')%></title>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJE4KG3NSB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-XJE4KG3NSB");
        </script>
        <!-- PWA -->
        <script src="/js/PWA.js" defer></script>

        <link rel="manifest" href="/manifest.json" />
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#e0e0e0" />
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#e0e0e0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-mobile-web-app-title" content="Triangle Drop" />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/12.9__iPad_Pro_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/10.9__iPad_Air_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/10.5__iPad_Air_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/10.2__iPad_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_14_Pro_Max_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_14_Pro_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/iPhone_11__iPhone_XR_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/12.9__iPad_Pro_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/10.9__iPad_Air_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/10.5__iPad_Air_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/10.2__iPad_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_14_Pro_Max_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_14_Pro_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/iPhone_11__iPhone_XR_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png"
        />
        <link
            rel="apple-touch-startup-image"
            media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png"
        />
    </head>
    <body>
        <!-- Install button, hidden by default -->
        <!-- <div id="installContainer" class="hidden">
      <button id="butInstall" type="button">Install</button>
    </div> -->
        <noscript>
            <style>
                noscript {
                    display: block !important;
                    font-weight: bolder;
                    font-size: 2rem;
                    text-align: center;
                    color: #fff;
                    margin: 2rem;
                }
                div {
                    display: none;
                }
            </style>
            <%= t('noJavascript')%>
        </noscript>
        <div class="app" ondragenter="handleDragAndDropEnter(event)">
            <!-- 상단광고 -->

            <script>
                if (window.matchMedia("( min-width: 769px )").matches == true) {
                    document.write(
                        '\<ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-btNY2xMFWDQ92WJm" data-ad-width="728" \
              data-ad-height="90"\>\<\/ins\>\<script type="text/javascript" src="\/\/t1.daumcdn.net\/kas\/static\/ba.min.js" async\>\<\/script\>'
                    );
                }
                if (window.matchMedia("( max-width: 768px )").matches == true) {
                    document.write(
                        '\<ins class="kakao_ad_area" style="display: none" data-ad-unit="DAN-6n6YH4frXfMelGdV" data-ad-width="320" data-ad-height="100"\>\
          \<\/ins>\<script type="text\/javascript" src="\/\/t1.daumcdn.net\/kas\/static\/ba.min.js" async\>\<\/script\>'
                    );
                }
            </script>
            <div class="loading" hidden>
                <div class="loadingMessage">Loading...</div>
            </div>
            <div class="centerC center">
                <nav>
                    <a class="title" href="/">
                        <img src="/img/favicon/favicon.png" alt="Triangle Drop Logo" width="50px" />
                        <h1 class="TriangleDropTitle">Triangle Drop</h1>
                    </a>
                    <ul class="navMenu">
                        <!-- 개발중 -->
                        <li><a href="/about" hidden>about</a></li>
                        <li class="themeToggleButton">
                            <i class="fa-solid fa-brush"></i>
                            <!-- 히히 -->
                            <!--  -->
                        </li>
                        <li>
                            <a class="contactUs" href="mailto:support@obtuse.kr">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <div id="sector0" hidden>
                    <div><%= t('fileListLabel')%></div>
                    <div class="fileList"></div>
                </div>
                <div id="sector1">
                    <h2 class="codeLabel label"><%= t('codeLabel')%></h2>
                    <!-- <h1 align="center"><span href="#" class="code">underline</span></h1> -->
                    <div class="codeSector">
                        <div class="flexBlink"></div>
                        <span class="codeBox">
                            <span class="copyArea">
                                <div class="codeTooltip">Click to copy</div>
                                <span class="code"></span>
                                <i class="fa-solid fa-copy"></i>
                            </span>
                            <br />
                            <span class="copyArea copyAreaLink"
                                ><div class="codeTooltip">Click to copy</div>
                                <span class="codeLink"></span> <i class="fa-solid fa-copy"></i
                            ></span>
                        </span>
                        <div class="codeQRcode"></div>
                    </div>
                    <!-- 첫화면 -->
                    <div id="welcome">
                        <div class="waitLabel" aria-busy="true" hidden><i class="fa-solid fa-circle-notch fa- spin"></i> <%= t('waitCodeInputLabel')%></div>
                    </div>
                </div>
                <!-- <hr class="hr-text" data-content="OR" /> -->
                <div id="sector2">
                    <h2 class="label codeInputLabel"><%= t('codeInputLabel')%></h2>
                    <div class="enterRoomDiv animate__animated">
                        <form action="" id="enterRoom">
                            <input autocomplete="off" type="text" class="roomCodeInput" id="roomCodeInput" placeholder="<%= t('codeInputPlaceholder')%>" maxlength="5" />
                            <button class="enterButton animate__animated"><%= t('enterButton')%></button>
                        </form>
                    </div>
                    <div class="enterRoomErrorLable"><%= t('enterRoomErrorLable')%></div>
                </div>
                <div class="languageSelect">
                    <i class="fa-solid fa-globe"></i> Language | 언어
                    <div class="languageDropDown">
                        <a href="/ko">Korean | 한국어</a>
                        <a href="/en">English</a>
                    </div>
                </div>
                <div id="wrapper"></div>
                <!-- footer -->
                <div class="footerDiv">
                    <div class="footerLeft">
                        <div class="developerLogos">
                            <span class="developerLogo">Developers:</span>
                            <a class="developerLogo" href="https://github.com/obtuse-triangle" target="_blank"
                                >Obtuse-Triangle<i class="fa-solid fa-caret-up"></i> <span class="newTabIcon"><i class="fa-solid fa-up-right-from-square"></i></span
                            ></a>
                            <a class="developerLogo" href="https://github.com/NY0510" target="_blank"
                                >NY64
                                <i class="fa-solid fa-moon"></i>
                                <span class="newTabIcon"><i class="fa-solid fa-up-right-from-square"></i></span>
                            </a>
                            <a class="contactUs" href="mailto:support@obtuse.kr"
                                >Contact Us <span class="newTabIcon"><i class="fa-solid fa-envelope"></i></span
                            ></a>
                        </div>
                        <div class="viewOnGithub">
                            <a class="viewOnGithubLink" target="_blank" href="https://github.com/NY0510/triangleDrop"><i class="fa-brands fa-github"></i> View Source on Github</a>
                        </div>
                        <div class="policyLink">
                            <a href="/privacy-policy">Privacy policy</a>
                            <a href="/tou">Terms of Use</a>
                        </div>
                        Copyright© 2022 TriangleDrop All Rights reserved.
                    </div>
                </div>
            </div>

            <!-- 룸 입장후 -->
            <div id="inRoom" hidden>
                <div class="flexBox">
                    <div class="inRoomTopBar">
                        <span class="code InRoom"></span>
                    </div>
                    <div class="progress">
                        <div class="sendProgress" hidden>
                            <div class="label">
                                <span class="sendProgressSending">Sending...</span>
                                <span class="txProgressBarFileName"></span>
                                <span class="txProgressBarFileSize"></span>
                            </div>
                            <progress id="sendProgressBar" max="0" value="0"></progress>
                            <progress id="sendProgressBar2" max="0" value="0"></progress>
                        </div>
                        <div class="receiveProgress" hidden>
                            <div class="label">
                                <span class="receiveProgressReceiving">Receiveing... </span>
                                <span class="rxProgressBarFileName"></span>
                                <span class="rxProgressBarFileSize"></span>
                            </div>
                            <progress id="receiveProgressBar" max="0" value="0"></progress>
                        </div>
                    </div>
                    <div class="message">
                        <div id="messageBlock"></div>
                        <div class="leftUserLable" hidden style="color: orangered; font-weight: bolder"><%= t('leftUserLable')%></div>
                        <form action="" class="animate__animated" id="messageForm">
                            <div class="messageSendBlock">
                                <div class="filesPreview" hidden></div>
                                <div class="messageDiv">
                                    <input autocomplete="off" type="text" id="messageInput" />
                                    <label for="fileInput" class="fileInputLabel"> <i class="fa-solid fa-paperclip fa-fw"></i></label>
                                    <input type="file" placeholder="file select" id="fileInput" multiple="multiple" onchange="handleChangeFile(event)" />
                                    <button id="messageSendButton">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="dragAndDrop">
                    <i class="fa-solid fa-inbox-full"></i>
                </div>
            </div>
        </div>

        <script src="//kit.fontawesome.com/2cc80d7123.js" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
